/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}
.fa-solid {
  border: solid 1px #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}
.fa-solid2 {
  border: solid 1px #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 1em;
  background-color: #f2f2f2;
}
.fa-solid2:hover {
  background-color: #deebff;
}

/* .research-container img:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 101, 252, 0.8));
} */

body {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 1440px;
  min-width: 320px;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: 1.5em;
}
ul {
  width: auto;
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 68px;
  max-width: 244px;
  max-height: 35px;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
  border: 0px solid red;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 79px;
}
.info-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  height: 53px;
}
h1 {
  font-size: 22px;
  margin: -1px 0px 0px 0px;
}
p {
  font-size: 16px;
  margin: -1px 0px -1px 0px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
form {
  width: auto;
}
.entered-area {
  border: 1px solid #f2f2f2;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.search-bar {
  display: flex;
  flex-direction: row;
  width: 377px;
  justify-content: space-between;
  height: 49px;
}
.button {
  color: #ffffff;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  height: 49px;
  width: 132px;
  font-size: 18px;
  border: 0px;
}
fieldset {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  border: 0px;
  flex-wrap: nowrap;
  max-width: 758px;
  padding: 0;
}
.btn-filter {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.btn-filter div {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  max-width: 173px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0px 19px 0px 19px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.btn-filter div:hover {
  background-color: #deebff;
}
fieldset i {
  color: #0065fc;
}
.infobar {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}
.infobar i {
  width: auto;
  padding: 10px 14px 10px 14px;
  border: #d9d9d9 1px solid;
  border-radius: 50px 50px 50px 50px;
  scale: 0.6;
  color: #0065fc;
}
.infobar p {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #0065fc;
  text-decoration: overline;
}
.link-2:hover {
  color: #0065fc;
  text-decoration: none;
}
.section-title {
  margin: 0;
  font-size: 22px;
  border: 0px red solid;
}
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
  object-fit: cover;
}
.card-title {
  font-size: 16px;
}
.euro {
  font-weight: 700;
}
.neutral-star {
  color: var(--main-bg-color);
}
/****** Hebergements And Populaires ***********/
/****** accommodations and popular ************/
.accommodations-and-popular {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.accommodations-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements / accommodation***********/

/******  popular ***********/
.popular {
  width: 32%;
}
.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-title i {
  color: #0065fc;
}
.popular-cards .card {
  display: flex;
  margin-top: 33px;
}
.popular-cards a {
  text-decoration: none;
}
.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.popular-cards .card-subtitle {
  margin: 0;
}
.popular-cards .card-rating {
  margin-bottom: 5px;
}

/******accomodation *****************/
.accommodations {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
}

.accommodations-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accommodations-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border: #0065fc 0px solid;
  align-items: stretch;
}

.card-2 .card\.txt {
  padding: 0px 15px 0px 15px;
}
.card-2 {
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  overflow: hidden;
  max-height: 207.25px;
  object-fit: cover;
  height: 100%;
  gap: 4px;
}

.card-2-img img {
  height: 100%;
  object-fit: cover;
  /* aspect-ratio: inherit; */
}
.card-2-img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  box-sizing: border-box;
  height: 65%;
  padding: 0px;
}
.accommodations-cards a {
  text-decoration: none;
}
.accommodations-cards img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.accommodations-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.accommodations-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.accommodations-cards .card-subtitle {
  margin: 0;
}
.accommodations-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités / Activities******/
.activities {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* flex-wrap: nowrap; */
}
.activities div {
  /* background-color: var(--main-bg-color); */
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  object-fit: cover;
  height: 439px;

  /* max-height: 439px; */
}

.activities .card-3 img {
  width: 250px;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.activities .card-3 h3 {
  padding: 10px 19px 10px 19px;
}

.activities-cards {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: 270px;
  object-fit: cover;
}

.activities-cards a {
  text-decoration: none;
  object-fit: cover;
  height: auto;
}
.card-3 {
  flex-direction: column;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  padding: 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  overflow: hidden;
  height: 100%;
  width: auto;
  gap: 0px;
}
/* .card-3-img img {
  height: 100%;
  object-fit: cover;
   aspect-ratio: inherit; 
} */
.card-3 img {
  border-radius: 20px 20px 0px 0px;
  height: 100%;
  width: 20%;
}
footer {
  display: flex;
  flex-direction: row;
  border: 0px solid black;
  background-color: var(--main-bg-color);
  justify-content: space-between;
  max-width: 1340px;
  max-height: 163px;
}
footer div {
  width: 100%;
}
footer p {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .accommodations-and-popular {
    flex-direction: column;
  }
  .accommodations {
    width: 100%;
  }

  .accommodations-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border: #0065fc 0px solid;
    align-items: stretch;
  }
  .accommodations-cards div {
    height: 100%;
  }
  .popular {
    width: 100%;
    margin-top: 50px;
  }
  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .popular-cards a {
    width: 30%;
  }
  .popular-cards .card-title {
    font-size: 14px;
  }
  .popular-cards .card-subtitle {
    font-size: 13px;
  }
  header,
  form,
  label,
  .button,
  fieldset {
    font-size: 14px;
    flex-wrap: nowrap;
  }
  .entered-area {
    width: 100%;
    font-size: 16px;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .entered-area {
    width: 100%;
    font-size: 16px;
  }
  header {
    white-space: nwrap;
    border: #0065fc 0px solid;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  /* header div li {
    border: #0065fc 2px solid;
  } */
  fieldset {
    flex-wrap: wrap;
    /* background-color: #d9d9d9; */
    width: 100%;
    display: flex;
  }
  p {
    width: 100%;
  }
  .btn-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  fieldset .btn-filter div {
    width: 270px;
    height: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    padding: 0;
    gap: 15px;
  }
  .main-container {
    padding: 0;
  }
}
