/*********************** General ***********/
* {
  font-family: "Raleway", sans-serif;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}
body {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 1440px;
  min-width: 320px;
  align-items: center;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#logo {
  height: 1.5em;
}
#logo:hover {
  filter: drop-shadow(1px 2px 2px rgba(5, 9, 240, 0.2));
}
nav {
  border: #0065fc 0px solid;
}
ul {
  width: auto;
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}
ul div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0;
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
li {
  text-decoration: none;
  list-style: none;
  border-top: 2px solid #ffffff;
  padding: 16px 8px 16px 8px;
  height: 79px;
  box-sizing: border-box;
}

li :hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding: 16px 0px 16px 0px;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 79px;
  border: #0065fc 0px solid;
}
.info-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
  border: 1px;
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}
h1 {
  font-size: 22px;
}
p {
  font-size: 16px;
  margin: -1px 0px -1px 0px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
form {
  width: auto;
}
.entered-area {
  border: 1px solid #f2f2f2;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
}
.search-bar {
  display: flex;
  flex-direction: row;
  width: 377px;
  justify-content: space-between;
  height: 49px;
}
.btn-search {
  color: #ffffff;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  height: 49px;
  width: 132px;
  font-size: 18px;
  border: 0px;
  display: flex;
  align-items: center;
}
.btn-location-dot {
  background-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
  height: 49px;
  width: 50px;
  /* font-size: 18px; */
  border: 0px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 18px;
}
.btn-search .icon {
  display: none;
}
.btn-search:hover {
  cursor: pointer;
  filter: drop-shadow(0px 3px 15px rgba(0, 101, 252, 0.1));
}
.btn-location-dot:hover {
  cursor: pointer;
  filter: drop-shadow(0px 3px 15px rgba(0, 101, 252, 0.1));
  background-color: var(--filter-bg-color);
  border: none;
}
fieldset {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  border: 0px;
  flex-wrap: nowrap;
  max-width: 1440px;
  padding: 0;
}
.btn-filter {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 15px;
}
.btn-filter div {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0px 19px 0px 19px;
  display: flex;
  white-space: nowrap;
}
.btn-filter div:hover {
  background-color: #deebff;
  cursor: pointer;
}
fieldset i {
  color: #0065fc;
}
.infobar {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}
.infobar i {
  width: auto;
  padding: 10px 14px 10px 14px;
  border: #d9d9d9 1px solid;
  border-radius: 50px 50px 50px 50px;
  scale: 0.6;
  color: #0065fc;
}
.infobar p {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #0065fc;
}
.activities-cards a {
  text-decoration: none;
  width: fit-content;
}
.activities-cards a:hover {
  color: #0065fc;
  text-decoration: none;
}
.section-title {
  margin: 0;
  font-size: 22px;
  border: 0px red solid;
}
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card:hover {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 101, 252, 0.2));
}
.card img {
  object-fit: cover;
}
.card-title {
  font-size: 16px;
}
.euro {
  font-weight: 700;
}
.neutral-star {
  color: var(--main-bg-color);
}

/****************** accommodations-and-popular ************/

.accommodations-and-popular {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
}
.accommodations-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/***************** popular *******************************/

.popular {
  width: 32%;
}
.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-title i {
  color: #0065fc;
}
.popular-cards .card {
  display: flex;
  margin-top: 33px;
}
.popular-cards a {
  text-decoration: none;
}
.popular-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.popular-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.popular-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}
.popular-cards .card-rating {
  margin-bottom: 5px;
}

/*********************** accomodations *****************/

.accommodations {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
}
.accommodations-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accommodations-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  border: #0065fc 0px solid;
  /* align-items: stretch; */
}
.accommodations .card-txt {
  padding: 0px 15px 0px 15px;
}
.card .accommodation-img {
  height: 100%;
  object-fit: contain;
}
.accommodation-img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  box-sizing: border-box;
  height: 65%;
  padding: 0px;
}
.accommodations-cards a {
  text-decoration: none;
}
.accommodations-cards img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 8em;
}
.accommodations-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.accommodations-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.accommodations-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}
.accommodations-cards .card-rating {
  margin-bottom: 5px;
}

/************************ activities ****************/

.activities {
  border-radius: 20px;
  padding: 30px;
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: #0065fc 0px solid;
}
.activities-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
  align-items: stretch;
}
.activities h3 {
  padding: 10px 19px 10px 19px;
}
.activities-cards a {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 0;
}
.activities-cards .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.activities-cards img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

/********************** footer *****************/

footer {
  display: flex;
  flex-direction: row;
  border: 0px solid black;
  background-color: var(--main-bg-color);
  justify-content: space-between;
  max-width: 1340px;
  max-height: 163px;
}
footer div {
  width: 100%;
}
footer p {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    padding: 0px 50px 0px 50px;
  }

  /************* accommodations-and-popular **************/

  .accommodations-and-popular {
    flex-direction: column;
    gap: 0;
  }
  .accommodations {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
  }
  .accommodations {
    width: 100%;
  }
  .accommodations .card-txt {
    padding: 0px 15px 0px 15px;
    font-size: 16px;
  }
  .accommodations .card-subtitle {
    font-size: 14px;
  }
  .accommodations-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border: #0065fc 0px solid;
    align-items: stretch;
  }
  .accommodations-cards div {
    height: 100%;
  }

  /******************************* popular ****************/

  .popular {
    width: 100%;
    margin-top: 50px;
  }
  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .popular-cards a {
    width: 30%;
  }
  .popular-cards .card-title {
    font-size: 14px;
  }
  .popular-cards .card-subtitle {
    font-size: 13px;
  }

  /********************** activities **********************/

  .activities-cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .activities-cards a {
    width: 100%;
    /* min-height: 300px; */
    height: auto;
  }
  .activities h3 {
    padding: 0px 10px 10px 15px;
    margin: 0 auto;
  }
  .activities-cards .card-title {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
  }
  .activities-cards {
    display: flex;
    flex-direction: row;
  }
  .activities {
    width: auto;
  }
  .activities-cards img {
    height: 80%;
  }

  header,
  form,
  label,
  .button {
    font-size: 14px;
    flex-wrap: nowrap;
  }
  fieldset {
    flex-direction: column;
    border: #0065fc 0px solid;
    width: 100%;
    padding-left: 0;
  }
  fieldset p {
    border: #0065fc 0px solid;
    width: 100%;
  }
  fieldset .btn-filter {
    display: flex;
    /* justify-content: left; */
    border: #9965fc 0px solid;
    /* max-width: 668px; */
  }
  .entered-area {
    width: 100%;
    font-size: 16px;
  }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
  .entered-area {
    width: 100%;
    font-size: 16px;
  }
  body {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  main {
    display: flex;
    object-fit: contain;
  }

  .info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
    border: 1px;
    padding: 0 20px;
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  h2.section-title {
    padding: 0px;
  }
  p {
    width: 100%;
  }
  .main-container {
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    /* gap: 35px; */
  }
  header {
    white-space: nowrap;
    border: #0065fc 0px solid;
    flex-direction: column;
    display: flex;
    height: fit-content;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0px;
  }
  #logo {
    height: 1.5em;
    padding: 30px;
    max-height: 79px;
  }
  nav {
    border: #0065fc 0px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }

  ul {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    /* margin: 0; */
    padding: 0;
    list-style: none;
    height: 2.5em;
  }
  ul div {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0;
    justify-content: space-between;
    box-sizing: border-box;
    border: #ffffff 2px solid;
  }
  li {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border: #9965fc 0px solid;
  }
  nav ul a:hover {
    border-bottom: none;
    box-sizing: border-box;
  }

  ul :hover {
    color: #0065fc;
    border-top: none;
    border-bottom: 2px solid #0065fc;
    box-sizing: border-box;
  }

  /************************ form *******************/

  .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 49px;
    width: 100%;
  }

  .fa-magnifying-glass {
    color: white;
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    align-content: center;
    padding: 15px 16px 15px 16px;
  }
  .btn-search .icon {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    border: #0065fc 1px solid;
  }
  .btn-search .txt {
    display: none;
    width: auto;
  }
  .btn-search {
    width: fit-content;
    padding: 0px;
    background-color: #ffffff;
    border: 0px;
    box-sizing: border-box;
    margin-left: -10px;
  }
  fieldset {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
  }
  .btn-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    width: 100%;
  }
  fieldset .btn-filter div {
    width: 46%;
    height: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    padding: 0;
    gap: 10px;
  }

  /************ accommodations-and-popular ****/

  .accommodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .accommodations-and-popular {
    /* gap: 30px; */
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
  }

  /************** popular ************/

  .popular article.card {
    margin-top: 0;
  }
  .popular .card-title {
    font-size: 16px;
  }
  .popular .card-subtitle {
    font-size: 14px;
  }
  .popular {
    /* margin: 0 auto; */
    background-color: var(--main-bg-color);
    gap: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  div.popular-title {
    padding: 0px 20px 10px 20px;
  }
  .popular-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 0px 0px 30px 0px;
  }
  .popular-cards a {
    width: auto;
    padding: 0px 20px 0px 20px;
  }
  .popular-cards .card {
    box-sizing: border-box;
  }

  /*********** accommodations ************/

  .accommodations-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accommodations-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  section.accommodations {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0px 30px 0px;
  }
  .accommodations-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
  }
  .accommodations-cards a {
    padding: 3px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .accommodations h4 {
    padding: 0 20px;
  }
  div .accommodations-cards {
    gap: 20px;
  }

  /******************* Activities **********************/

  h2#section-activities.section-title {
    padding: 0 30px;
  }
  .activities-cards {
    display: grid;
    grid-template-columns: 1fr;
    /* width: 100%; */
  }
  div.activities-cards {
    gap: 20px;
  }
  .activities h3.card-title {
    text-align: left;
    width: fit-content;
    height: auto;
    padding: 20px 19px;
    margin-left: 0;
  }
  .activities-cards img {
    height: 70%;
  }
  .activities-cards a {
    max-height: 207.25px;
    width: auto;
    /* height: 100%; */
    padding: 0px 30px 0px 30px;
  }
  .activities {
    object-fit: contain;
    padding: 0px;
  }
  section.activities {
    border: 0px solid blue;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
  }
  footer {
    max-height: 461px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .footer-title {
    font-size: 18px;
    font-weight: 700;
  }
  footer p {
    width: auto;
  }
}
